@font-face {
    font-family: 'Polyvers';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('/assets/fonts/Polyvers-Extended.woff2') format('woff2'),
        url('/assetsfonts/Polyvers-Extended.woff') format('woff');
}
@font-face {
    font-family: 'U001';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('/assets/fonts/U001-Reg.woff2') format('woff2'),
        url('/assets/fonts/U001-Reg.woff') format('woff');
}
// Typography Variables
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'U001', 'Arial', sans-serif;
$font-family-serif: 'Times New Roman', Georgia, Times, serif;
$font-family-monospace: 'Inconsolata', Menlo, Monaco, Consolas, 'Andale Mono',
    'Courier New', monospace;
$font-family-display: 'Polyvers', $font-family-sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-root: var(--font-size-root);
$line-height: var(--line-height);
$text-color: var(--color-8);

//
// Reset HTML, body, and more
//

html {
    // Sets a specific default `font-size` for user with `rem` type scales.
    font-size: 16px;
    // Changes the default tap highlight to be completely transparent in iOS.
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @include mq(md) {
        font-size: $font-size-root;
    }
}

body {
    // Make the `body` use the `font-size-root`
    font-family: $font-family-base;
    font-size: $font-size-root;
    line-height: $line-height;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: var(--color-8);
    background: var(--color-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.3;
    hyphens: auto;
}

h1 {
    font-size: 2rem;
    color: var(--color-7);
    letter-spacing: -3px;
    line-height: 1;
    font-smooth: never;
    -webkit-font-smoothing: none;
    margin-bottom: 2rem;
    max-width: 90%;
    padding-left:6rem;
    b {
        font-size: 4rem;
        color: var(--color-4);
        line-height: 1rem;
        width: 5rem;
        display: inline-block;
        margin-left: -5rem;
        text-align: right;
        margin-top: 1.5rem;
    }
    @include mq(md) {
        font-size: 2rem;
        max-width: 80%;
        padding-left:0;
        b {
            font-size: 4rem;
            line-height: 1rem;
        }
    }
    @include mq(lg) {
        font-size: 3rem;
        max-width: 80%;
        padding-left:0;
        b {
            font-size: 6rem;
            margin-left: -5rem;
            line-height: 3rem;
        }
    }
}

h1,
h2 {
    font-family: $font-family-display;
}

h2 {
    line-height: 1.2;
}

h3 {
    color:var(--color-7);
}

p {
    margin: 0 0 2rem 0;
    line-height: 1.4;
}
a {
    color: var(--color-1);
    text-decoration: none;
    &:hover {
        color: var(--color-4);
        text-decoration: none;
    }
    color: var(--color-7);
}

b, strong {
    color:var(--color-5);
}

em {
    color:var(--color-6);
}

code, kbd {
    background: linear-gradient(var(--color-3), var(--color-1), var(--color-3));
    padding:0 0.2rem;
    border-radius: 0.1rem;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;

    @include mq(md) {
        font-size: 2rem;
    }
}

/*
ARTICLE TYPOGRAPHY
*/
.entry-content {
    padding:1rem 0.5rem;
}

.entry-content a,
.tags a,
footer#content-info a,
p.summary a {
    text-decoration: underline;
}
.entry-content a:hover,
.tags a:hover,
footer#content-info a:hover,
p.summary a:hover {
    text-decoration: none;
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content p,
.entry-content dl,
.entry-content ol,
.entry-content ul,
.entry-content pre,
.entry-content table,
.entry-content details {
    max-width: 40rem;
    width: 100%;
}
.entry-content details {
    margin: auto;
    border-radius: 1rem;
    background: linear-gradient(
        var(--color-2),
        var(--color-1),
        var(--color-1),
        var(--color-1),
        var(--color-2)
    );
}
.entry-content details summary {
    background: linear-gradient(
        var(--color-4),
        var(--color-1),
        var(--color-1),
        var(--color-1),
        var(--color-4)
    );
    padding: 2rem 0rem;
    margin: 1rem 0 1rem 0rem;
    border-radius: 1rem;
}

.entry-content details pre {
    white-space: break-spaces;
    margin: auto;
}
.entry-content pre {
    margin: auto;
}

.entry-content h1 {
    font-size:4rem;
    text-align: center;
    max-width: 100%;
    padding:0;
    hyphens: auto;
    word-wrap: break-word;
    @include mq-down(md) {
        font-size: 2.5rem;
    }
}

.entry-content h2 {
    font-size: 2rem;
    text-indent: -0.15rem;
    margin: 3rem auto 0;
    color: var(--color-7);
    position: relative;
    z-index: 1;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 0.5rem;
        position: absolute;
        background: linear-gradient(0.25turn, var(--color-1), var(--color-4));
        z-index: -1;
        bottom: 0.25rem;
    }
    @include mq-down(md) {
        font-size: 1.5rem;
    }
}

.entry-content h3 {
    margin: 2rem auto 0;
}

.entry-content h1,
.entry-content h4,
.entry-content p,
.entry-content table,
.entry-content ol,
.entry-content ul,
.entry-content dl {
    margin: 1rem auto;
}

.entry-content > p:first-child::first-letter {
    font-family: $font-family-display;
    font-size: 3rem;
    line-height: 1rem;
    color: var(--color-7);
    letter-spacing: -1px;
    margin-left: -0.2rem;
}

.entry-content ol,
.entry-content ul {
    line-height: 1.4;
    padding: 0;
    z-index: 1;
    position: relative;
}
.entry-content ul {
    list-style: none;
    > li {
        display: flow-root list-item;
        background: linear-gradient(
            var(--color-2),
            var(--color-1),
            var(--color-1),
            var(--color-1),
            var(--color-2)
        );
        padding: 2rem;
        margin: 1rem 0 0 0;
        border-radius: 1rem;
        > p {
            margin: 0;
        }
    }
}

.entry-content ol {
    list-style: decimal;
    > li {
        display: flow-root list-item;
        position: relative;
        background: linear-gradient(
            var(--color-2),
            var(--color-1),
            var(--color-1),
            var(--color-1),
            var(--color-2)
        );
        padding: 2rem 1rem;
        margin: 1rem 0 1rem 5rem;
        border-radius: 1rem;
    }
    li::marker {
        font-family: $font-family-display;
        font-size: 3rem;
        color: var(--color-4);
        line-height: 1rem;
    }
}

.entry-content figcaption {
    margin-top: 0.5em;
    font-size: 0.8rem;
    line-height: 1.44;
}

.entry-content table {
    border-spacing: 0;
}
.entry-content table th,
.entry-content table td {
    padding: 8px 0;
    text-align: left;
}
.entry-content table td {
    border-bottom: 1px solid var(--color-8);
}
.entry-content table th {
    border-bottom: 2px solid var(--color-8);
    font-weight: normal;
}

.entry-content .setuptable thead tr:first-child td,
.entry-content .setuptableclass + table thead tr:first-child td {
    border-bottom: 0;
}

.entry-content .setuptable td,
.entry-content .setuptable th,
.entry-content .setuptableclass + table td,
.entry-content .setuptableclass + table th {
    padding-left: 5%;
}

.entry-content .setuptable td:first-child,
.entry-content .setuptable th:first-child,
.entry-content .setuptableclass + table td:first-child,
.entry-content .setuptableclass + table th:first-child {
    width: 100px;
    border-right: 2px solid;
    padding-left: 0;
}

p.summary {
    font-size: 1.5rem;
    text-indent: 0;
    line-height: 1.2;
}

blockquote {
    margin: 1rem 0;
}
.entry-content blockquote p {
    font-size: 1.3rem;
    line-height: 1.3;
    text-indent: 0;
    color: var(--color-6);
    max-width: 50rem;
}
blockquote p::first-letter {
    font-family: $font-family-display;
    font-size: 3rem;
    line-height: 1rem;
    color: var(--color-7);
    letter-spacing: -3px;
    margin-left: -0.2rem;
}

.longquote {
    margin: 1rem 1rem 0;
    border-left: 1px solid var(--color-8);
    padding-left: 1rem;
}
.longquote p {
    font-size: 0.9rem;
}

.entry-content img {
    margin: 0 auto;
}

iframe {
    margin: auto;
    display: block;
}

/*
 Custom extra elements
*/
.note-from-the-future {
    background: var(--color-2);
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
}

/*
  FOOTNOTES
  */
hr {
    border: 0;
    border-top: 2px solid var(--color-2);
    margin: 3rem 0;
}

.footnote {
    font-size: 0.8rem;
    padding-top: 0.5rem;
    width: 80%;
    max-width: 33rem;
    margin: auto;
}
.footnote ol {
    width: 100%;
}
.footnote p {
    line-height: 1.2;
    word-wrap: break-word;
    margin: 0;
    width: 100%;
}

sup {
    vertical-align: baseline;
    font-size: 0.75rem;
}

sub {
    vertical-align: baseline;
    font-size: 0.75rem;
}

.ref {
    border: 1px solid var(--color-8);
    padding: 0.5rem;
    background: #fff;
    z-index: 10;
    position: absolute;
    right: 0;
    width: 300px;
    margin-top: -2rem;
    max-width: 50%;
    display: none;
}
.ref p {
    margin: 0;
    word-wrap: break-word;
    display: inline;
}
.ref:hover {
    cursor: pointer;
}
.ref .footnote-backref {
    display: none;
}

a.footnote-ref {
    text-decoration: none;
    padding-right: 0.25rem;
}
a.footnote-ref:hover {
    cursor: pointer;
}

[id^='fn'] .ref {
    text-indent: 0;
}

.show .ref {
    display: block;
}
