<footer class="footer" role="contentinfo">
        <span>{{ build.timestamp | dateToFormat('yyyy') }}</span>
        <a
            href="https://glyphdrawing.club/"
            alt="GlyphDrawing.Club"
            rel="noreferrer noopener"
            target="_blank"
        >
        GlyphDrawing.Club &#8599;
        </a>
        This site doesn't use cookies or &lt;link&gt; to any third party sites.
        </a>
</footer>