//--------------------
// SCSS VARIABLES
//--------------------

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$breakpoints: (
    md: 670px,
    lg: 940px,
    xl: 1260px
);

$container-max-width: 1200px;

// Z-Index Stack
//
// Control the order of layers in the application
$z-layers: (
    'modal': 999,
    'nav': 100,
    'content-overlay': 30
);

// Brand Colors
:root {
    --color-1: #eeeeee;
    --color-2: #bfca8a57;
    --color-3: #b38dd957;
    --color-4: #b73c3c;
    --color-5: #e1265b;
    --color-6: #ea601d;
    --color-7: #0e216cd4;
    --color-8: #333333;
    --font-size-root: 14px;
    --line-height: 1.44rem;
}

@include mq(lg) {
    :root {
        --font-size-root: 20px;
        --line-height: 1.625rem;
    }
}


@media screen and (prefers-color-scheme: dark) {
    :root {
        --color-1: #000000;
        --color-2: #1f246a;
        --color-3: #8a1181;
        --color-4: #d14444;
        --color-5: #23cf3d;
        --color-6: #68cbcb;
        --color-7: #e3c72d;
        --color-8: #dcf5ff;
    }
    .invert-color {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
}
