.nav {
    padding-left: 0.5rem;
    &__link {
        display: block;
        padding: 0.5em 1em;
    }

    .nav__menu {
        padding: 0;
    }

    .nav__item--active {
        background: linear-gradient($color-1, $color-2, $color-1);
        border-radius: 0.5rem;
    }

    @include mq(lg) {
        &__menu {
            display: flex;
            position: static;
            background-color: transparent;
        }
    }
}
