---
layout: base
permalink: /about/
eleventyNavigation:
  key: About
---

<div class="container page">

    <h1>About</h1>
    <article class="entry-content">
      <p class="lead">
        <a href="https://glyphdrawing.club">Glyph Drawing Club</a> is a modular graphic design and text art tool.
      </p>
      <p class="lead">
        It is great for <strong>custom type design, illustration, patterns</strong> and more.
      </p>
      <hr>
      <p>
        <a href="/usage-tutorial-for-glyph-drawing-club/">Learn how to use Glyph Drawing Club</a></br>
        or </br>
        <a href="/on-the-origins-of-glyph-drawing-club/">Read why I made Glyph Drawing Club</a></br>
        or </br>
        <a href="https://www.instagram.com/heikkiveikko/" target="_blank" rel="noreferrer noopener">See a gallery of examples on my Instagram page</a>
      </p>
      <hr>
      <p>
        Glyph Drawing Club is designed, developed and maintained by Heikki Lotvonen with initial help from Ian Tuomi.
      </p>
      <p>
        This blog is dedicated to all things GDC, modular design, ASCII art and text art.
      </p>
      <p>
        If you want to chat, join the <a href="https://discord.com/invite/gJNDZ2M" target="_blank" rel="noreferrer noopener">Glyph Drawing Club Discord channel</a>
      </p>
    </article>
</div>